.default {
  margin-left: 348px;
  margin-top: 2rem;

  a {
    display: block;
  }
  a + a {
    margin-top: 3rem;
  }
}

.post{

 h2 {
    font-size: 1.75 rem;
    font-weight: bold;
    color: var (--white);
  }

  p {

    font-size: 1.125rem;
    margin-top: 0.5rem;
    color: var (--gray-100);
  }

  ul {

    display: flex;
    margin-top: 1.5rem;
    list-style: none;




   li {
      font-size: 0.875rem;
      svg {
        margin-right: 0.5rem;
      }

    & + li {
      margin-left:1.625rem;
    }
  }
  }
}

